@model Library.Models.AddUserViewModel

<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            <label asp-for="Password" class="control-label"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="PasswordConfirm" />
            <label asp-for="PasswordConfirm" class="control-label"></label>
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
    </div>
</div>