
@{
    ViewData["Title"] = "Return";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/images/universities/devolucion.png" style="width:400px;" />
        <h2>¡Gracias por su devolución!</h2>
        <h4>El libro estará disponible nuevamente.</h4>
        <a asp-action="Loan" class="mt-2 btn btn-outline-success">Inicio</a>
    </div>
</div>