@{
    ViewData["Title"] = "Loan Success";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/images/loan.png" style="width:400px;" />
        <h2>¡Gracias!</h2>
        <h4>Su préstamo fue registrado en nuestro sistema, Acude pronto a la biblioteca para hacer efectivo el préstamo.</h4>
        <a asp-action="Index" class="mt-2 btn btn-outline-success">Inicio</a>
    </div>
</div>